<div class="container">
  <header class="content">
    <h1> Create a Blog Post</h1></header>

  <form action="/posts/create" method="post">
    <input type="text" placeholder="title of post" name="posts[title]" value ="BANANAS! THIS IS A TEST POST!"></br>
    <textarea type="text" name="posts[body]" placeholder="your post area" rows="8" cols="60"> </textarea>
    <input type="text" placeholder="name a tag" name="posts[tag_names]" value ="Cats, My Sad Life"></br>
    <input type="submit" value="Post" >
  </form>

</div>
