<div class="container">
  <header class="content">
    <h1> Create a Blog Post</h1>
  </header>
    <% if @post.errors.any? %>
    <ul>
      <% @post.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
    </ul>
    <% end %>
    <form action="/posts/create" method="post">
      <input type="text" placeholder="title of post" name="posts[title]" value ="<%= @post.title %>"></br>
      <textarea type="text" name="posts[body]" placeholder="your post area" rows="8" cols="60"><%= @post.body %></textarea>
      <input type="text" placeholder="name a tag" name="posts[tag_names]" value ="<%= @post.tag_names %>"></br>
      <input type="submit" value="Post" >
    </form>

</div>

