<div class="container">

  <div class="dostuff">
    <h2>recent things on people's minds</h2>
    <% Post.all.each do |post| %>
    <div class="post">
      <h3><%= post.title %> </h3>
      <p><%= post.body %></p>
      <footer>tags: <%= post.tags.map(&:tag_name).join(', ') %></br>
        <a href ="/posts/<%=post.id%>/edit"> Edit Post </a>
      </footer>
    </div>
    <% end %>
  </div>
</div>

