<div class="container">
  <header class="content">
    <h1> Update Your Blog Post</h1>
  <form action="put" method="/post/update">
    <input type="text" placeholder="title of post" name="title"></br>
    <textarea type="text" name="body" placeholder="your post area" rows="8" cols="60"></textarea>
    <input type="submit" value="Toss it on the internetz">
  </form>
</div>
