<div class="container">
  <h1>Welcome to the PostBoard!</h1>
  <p>The only place to share your mind freely.</p>
  <div class="dostuff">
    <h2><%= @message %></h2>
    <div class="post">
      <h3><%= @post.title %> </h3>
      <p><%= @post.body %></p>
      <footer>tags: <%= @post.tags.map(&:tag_name).join(', ') %></br>
    </div>
  </div>
</div>
